<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/faq" %>
</ul>

<div class="content-body">

  <div class="help-central-header">
    <!--
    <a href="#" class="title">

      <span class="icon-frequent-questions-lightblue_32_34-before"></span>

      <h2 id="title">Dúvidas Frequentes</h2>

    </a>
    -->

    <a href="#" class="title icon-frequent-questions-lightblue_32_34-before"><h2 id="title">Dúvidas frequentes</h2></a>

    <form class="form-search">
      <input class="control-area" type="text" placeholder="O que deseja saber?" data-toggle="#title">
      <button class="control-append-area button-default" type="submit">
        <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
      </button>
    </form>

  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Dúvidas (Mais) Frequentes</h3>

    <ul class="questions-list">

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

    </ul>

  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Dúvidas por Categorias</h3>

    <div class="faq-category">
    
      <div class="faq-category-title">
        <h6 class="icon-frequent-questions-lightgray_32_34-before">Redu em Geral</h6>
      </div>

      <ul class="list-button">

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="#1" title="Primeiros passos"><h6>Primeiros passos</h6></a>
          <div class="list-lecture-info">
              <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="" title="Dificuldade de acesso"><h6>Dificuldade de acesso</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="" title="Estrutura do Redu"><h6>Estrutura do Redu</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="" title="Avaliando com o Redu"><h6>Avaliando com o Redu</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="" title="Planos e Preços"><h6>Planos e Preços</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

      </ul>

    </div>

    <div class="faq-category">
      
      <div class="faq-category-title">
        <h6 class="icon-frequent-questions-lightgray_32_34-before">Funcionalidades</h6>
      </div>

      <ul class="list-button">
        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-social-networks-lightblue_16_18-before" href="" title="Redes Sociais"><h6>Redes Sociais</h6></a>
          <div class="list-lecture-info">
              <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-chat-lightblue_16_18-before" href="" title="Chat"><h6>Chat</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-wall-lightblue_16_18-before" href="" title="Mural de Discussão"><h6>Mural de Discussão</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-subject-lightblue_16_18-before" href="" title="Aulas Multimídia"><h6>Aulas Multimídia</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-reports-lightblue_16_18-before" href="" title="Relatórios Básicos"><h6>Relatórios Básicos</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-manage-lightblue_16_18-before" href="" title="Gerenciamento"><h6>Gerenciamento</h6></a>
          <div class="list-lecture-info">
              <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-support-lightblue_16_18-before" href="" title="Suporte"><h6>Suporte</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-oer-lightblue_16_18-before" href="" title="Recurso Educacionais Abertos"><h6>Recurso Educacionais Abertos</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-app-lightblue_16_18-before" href="" title="Serviços e Aplicações Integradas (API)"><h6>Serviços e Aplicações Integradas (API)</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-message-lightblue_16_18-before" href="" title="Mensagens Particulares"><h6>Mensagens Particulares</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-curriculum-lightblue_16_18-before" href="" title="Currículo"><h6>Currículo</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <a class="list-button-link link-target icon-mobile-lightblue_16_18-before" href="" title="Mobilidade"><h6>Mobilidade</h6></a>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>
        
      </ul>

    </div>

  </div>

</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/faq" %>
</ul>
