<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/faq" %>
</ul>

<div class="content-body">

  <div class="help-central-header">
    <!--
    <a href="#" class="title">
    
      <span class="icon-frequent-questions-lightblue_32_34-before"></span>

      <h2 id="title">Dúvidas Frequentes</h2>

    </a>
    -->
    
    <a href="#" class="title icon-frequent-questions-lightblue_32_34-before"><h2 id="title">Dúvidas frequentes</h2></a>

    <form class="form-search">
      <input class="control-area" type="text" placeholder="O que deseja saber?" data-toggle="#title">
      <button class="control-append-area button-default" type="submit">
        <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
      </button>
    </form>

  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Dúvidas (Mais) Frequentes</h3>

    <ul class="questions-list">

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

    </ul>

  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Dúvidas por Categorias</h3>

    <div class="faq-category">

      <div class="faq-category-title">

        <span class="icon-frequent-questions-lightgray_32_34-before"></span>
        <h6>Redu em Geral</h6>

      </div>

      <ul class="list-button">

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="" title="Primeiros passos">Primeiros passos</h6>
          <div class="list-lecture-info">
              <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="" title="Dificuldade de acesso">Dificuldade de acesso</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="" title="Estrutura do Redu">Estrutura do Redu</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="" title="Avaliando com o Redu">Avaliando com o Redu</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-frequent-questions-lightblue_16_18-before" href="" title="Planos e Preços">Planos e Preços</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

      </ul>

    </div>

    <div class="faq-category">

      <div class="faq-category-title">

        <span class="icon-frequent-questions-lightgray_32_34-before"></span>
        <h6>Funcionalidades</h6>

      </div>

      <ul class="list-button">
        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-social-networks-lightblue_16_18-before" href="" title="Redes Sociais">Redes Sociais</h6>
          <div class="list-lecture-info">
              <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-chat-lightblue_16_18-before" href="" title="Chat">Chat</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-wall-lightblue_16_18-before" href="" title="Mural de Discussão">Mural de Discussão</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-subject-lightblue_16_18-before" href="" title="Aulas Multimídia">Aulas Multimídia</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-reports-lightblue_16_18-before" href="" title="Relatórios Básicos">Relatórios Básicos</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-manage-lightblue_16_18-before" href="" title="Gerenciamento">Gerenciamento</h6>
          <div class="list-lecture-info">
              <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-support-lightblue_16_18-before" href="" title="Suporte">Suporte</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-oer-lightblue_16_18-before" href="" title="Recurso Educacionais Abertos">Recurso Educacionais Abertos</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-app-lightblue_16_18-before" href="" title="Serviços e Aplicações Integradas (API)">Serviços e Aplicações Integradas (API)</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-message-lightblue_16_18-before" href="" title="Mensagens Particulares">Mensagens Particulares</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-curriculum-lightblue_16_18-before" href="" title="Currículo">Currículo</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>

        <li class="list-button-item link-container">
          <h6 class="list-button-link link-target icon-mobile-lightblue_16_18-before" href="" title="Mobilidade">Mobilidade</h6>
          <div class="list-lecture-info">
            <span class="wall-stats icon-doubt-topic-gray_16_18-before legend">4 perguntas</span>
          </div>
        </li>
      </ul>

    </div>

  </div>

</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/faq" %>
</ul>
