<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/faq" %>
</ul>

<div class="content-body">

</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/faq" %>
</ul>
