<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/faq_category" %>
</ul>

<div class="content-body">

  <div class="help-central-header">

    <span class="icon-course-lightblue_32_34 show text-replacement">Guia Básico</span>

    <div class="title">

      <h2>Dúvidas Frequentes</h2>
      <p class="legend">Redu em Geral > Primeiros Passos</p>

    </div>


    <form class="form-search">
      <input class="control-area" type="text" placeholder="O que deseja saber?">
      <button class="control-append-area button-default" type="submit">
        <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
      </button>
    </form>

  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Primeiros Passos</h3>
    <p class="legend">4 perguntas</p>

    <ul class="questions-list">

      <li class="question-list-item">
        <span class="icon-teacher-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-teacher-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-teacher-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-teacher-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

    </ul>

  </div>

  <hr class="list-separator">

</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/faq_category" %>
</ul>
