<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/faq_category" %>
</ul>

<div class="content-body">

  <div class="help-central-header">

    <a href="#" class="title icon-frequent-questions-lightblue_32_34-before">
      <h2 id="title">
        Dúvidas frequentes
      </h2>
    </a>
    
    <form class="form-search">
      <input class="control-area" type="text" placeholder="O que deseja saber?" data-toggle="#title">
      <button class="control-append-area button-default" type="submit">
        <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
      </button>
    </form>
    
    <p id="title" class="legend">Redu em Geral > Primeiros Passos</p>

  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Primeiros Passos</h3>
    <p class="legend">4 perguntas</p>

    <ul class="questions-list">

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-doubt-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis?</a>
          <span class="legend">888 visualizações — Dúvidas Frequentes > Redu em Geral > Dificuldade de Acesso</span>
        </div>
      </li>

    </ul>

  </div>

  <hr class="list-separator">

  <%= render :partial => "shared/feel_supported", :locals => { :index => true } %>
</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/faq_category" %>
</ul>
