<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/guide_developer" %>
</ul>

<div class="content-body">

  <div class="help-central-header">

    <span class="icon-app-lightblue_32_34 show text-replacement">Guia do Desenvolvedor</span>

    <div id="title" class="title">

      <h2>Guia do Desenvolvedor</h2>

    </div>

    <form class="form-search">
      <input class="control-area" type="text" placeholder="O que deseja saber?" data-toggle="#title">
      <button class="control-append-area button-default" type="submit">
        <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
      </button>
    </form>

  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Começando...</h3>

    <ul class="questions-list">

      <li class="question-list-item">
        <span class="icon-guide-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">O que fazer como Desenvolvedor(a) de Software no Redu?</a>
          <span class="legend">888 visualizações</span>
        </div>
      </li>

    </ul>

  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Plataforma de Aplicativos</h3>

    <ul class="questions-list">

      <li class="question-list-item">
        <span class="icon-guide-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">O que é?</a>
          <span class="legend">888 visualizações</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-guide-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Acesso aos dados</a>
          <span class="legend">888 visualizações</span>
        </div>
      </li>

      <ul class="questions-list">

      <li class="question-list-item">
        <span class="icon-guide-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Autenticação</a>
          <span class="legend">888 visualizações</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-guide-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Linguagens recomendadas</a>
          <span class="legend">888 visualizações</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-guide-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Registro de aplicação</a>
          <span class="legend">888 visualizações</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-guide-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Elementos da Interface do Usuário</a>
          <span class="legend">888 visualizações</span>
        </div>
      </li>

      <li class="question-list-item">
        <span class="icon-guide-topic-gray_16_18 text-replacement question-list-icon">Ícone</span>
        <div class="question-list-content">
          <a class="question-list-link" href="#">Documentação</a>
          <span class="legend">888 visualizações</span>
        </div>
      </li>

    </ul>

  </div>

  <hr class="list-separator">

  <%= render :partial => "shared/feel_supported", :locals => { :index => true } %>
</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/guide_developer" %>
</ul>
