<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/index" %>
</ul>

<div class="content-body">

  <%= render :partial => "help_central/shared/big_search_form", :locals => { :question => "Como podemos ajudar?" } %>

</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/index" %>
</ul>
