<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/search" %>
</ul>

<div class="content-body">

  <div class="help-central-header">
    <h1>Procurando por algo?</h1>
  </div>

  <hr class="list-separator">

  <div class="help-central-search">

    <form class="form-search">
      <input class="control-area" type="text" placeholder="Busque por uma dúvida ou um tópico que você deseja aprender">
      <button class="control-append-area button-default" type="submit">
        <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
      </button>
    </form>

  </div>

  <hr class="list-separator">

  <div class="search-empty">

    <span class="icon-help-central-empty_128 show text-replacement">Não encontrado</span>
    <p>Sentimos muito, mas não achamos resultado para <b>“Mussum ipsum”</b>. Tente outro termo.</p>

  </div>

</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/search" %>
</ul>
