<li class="guides-list-item guides-list-item-basic link-container">
  <div class="guides-list-item-header">
    <span class="guides-list-item-icon icon-<%= @basic_guide.icon_name %>-green_32_34 text-replacement"><%= @basic_guide.title %></span>
  </div>
  <div class="guides-list-item-body">
    <h4>
      <%= link_to @basic_guide.title, basic_guide_path(@basic_guide), class: "guides-list-item-title link-target" %>
    </h4>
    <em class="legend">Comece aqui!</em>
  </div>
  <div class="guides-list-item-footer">
    <p class="legend"><%= @basic_guide.body %></p>
  </div>
</li>
