<div class="content-body">
  <div class="help-central-header">
    <%=raw wymeditor_initialize %>
    <h1> Novo Tópico </h1>
  </div>

  <hr class="list-separator">

  <div class="help-central-section">
    <%= render partial: "shared/form", locals: { item: @topic_new } %>
  </div>
</div>
