<div class="section">
  <h3 class="icon-feel-supported-gray_32_34-before feel-supported-title<%= (index ||= false) ? ' feel-supported-title-index' : '' %>">Sinta-se apoiado!</h3>
  <div class="feel-supported-areas">
    <div class="feel-supported-area icon-talk-to-us-green_48_50-before">
      <h4 class="feel-supported-sub-title">Ajude-nos a melhorar a Central de Ajuda.</h4>
      <p>A nossa Central de Ajuda está em constante evolução. Caso hajam tópicos que ainda não foram contemplados, <%= link_to "fale conosco", "http://www.redu.com.br/contato", :title => "Fale Conosco" %>.</p>
    </div>
    <div class="feel-supported-area icon-say-hi-green_48_50-before">
      <h4 class="feel-supported-sub-title">Precisa de atendimento online?</h4>
      <p>Nos preocupamos com suas dificuldades. Se você precisar de atendimento e suporte online, em tempo real, estamos dispostos a atendê-lo. <%= link_to 'Diga “Olá”', "#", :title => "Oráculo" %>.</p>
    </div>
  </div>
</div>
