<div class="section-question">
  <h3 class="help-central-title-question"><%= question %></h3>
</div>

<hr class="list-separator">

<div class="section-form">
  <div class="row">
    <div class="span11 offset1">
      <form class="form-search control-big">
        <input class="control-area" type="text" placeholder="Busque por uma dúvida ou um tópico que você deseja aprender">
        <button class="control-append-area button-default" type="submit">
          <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
        </button>
      </form>
    </div>
  </div>
</div>

<hr class="list-separator">
