<div class="section-question">
  <h3 class="help-central-title-question"><%= question %></h3>
</div>

<hr class="list-separator">

<div class="section-form">
  <div class="row">
    <div class="span11 offset1">
      <%= form_tag search_path, method: :get, class: "form-search control-big" do %>
        <%= text_field_tag :termo, params[:termo], class: "control-area",
          placeholder: "Busque por uma dúvida ou um tópico que você deseja aprender" %>
        <button class="control-append-area button-default button-big" type="submit">
          <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
        </button>
      <% end %>
    </div>
  </div>
</div>

<hr class="list-separator">
