<div class="nav-global nav-global-fixed-top">
  <div class="nav-global-inner">
    <div class="nav-global-container">
      <h1>
        <a class="nav-global-brand logo-redu-gray_140_40 text-replacement" href="http://www.redu.com.br" title="Redu">Redu</a>
      </h1>
      <div class="nav-global-buttons">
        <%= link_to t(:help_center), root_path, :class => "nav-global-button nav-global-button-active", :title => t(:help_center) %>
      </div>
      <%= link_to "Voltar ao Redu", "http://www.redu.com.br/", :class => "button-default", :title => "Voltar ao Redu" %>
    </div>
  </div>
</div>
