<div class="basic-guide-column">
  <h3><%= categories.first.title %></h3>

  <ul class="questions-list">
    <%= render partial: categories.first.children, locals: { with_path: false }%>
  </ul>
</div>

<div class="basic-guide-column right">
  <h3><%= categories.second.title %></h3>

  <ul class="questions-list">
    <%= render partial: categories.second.children, locals: { with_path: false } %>
  </ul>
</div>

