<% unless subcategory.leaf? %>
  <div class="basic-guide-section right">
    <h6><%= subcategory.title %></h6>

    <ul class="questions-list">
      <%= render partial: subcategory.children, locals: { with_path: false, basic_guide: true } %>
    </ul>
  </div>
<% end %>
