.help-central-header {
  margin: 10px 30px 20px 20px;
  overflow: hidden;

  h1 {
    color: $blue2;
    height: 62px;
  }

  span {
    float: left;
  }

  h2 {
    color: $blue2;
    float: left;
    font-weight: lighter;
  }

  .title {

    float: left;
    padding-left: 10px;

    p {
      float: left;
      clear: left;
      padding-left: 10px;
    }
  }

  .article-title {

    float: left;
    padding-left: 10px;

    h2 {
      color: $gray5;
    }

    p {
      float: left;
      clear: left;
      padding-left: 10px;
    }
  }

  .form-search {
    float: right;
    margin: 3px 3px 3px 0;
  }
}

.faq-category {
  border: 1px solid $gray3;
  @include border-radius(10px);
  padding: 10px;
  margin-top: 20px;
}

.faq-category-title {
  overflow: hidden;
  margin: 10px auto;
  display: block;

  h6 {
    float: left;
    color: $gray5;
    padding: 7px 0 0 5px;
  }

  span {
    float: left;
  }
}
