.help-central-header {
  margin: 10px 30px 20px 20px;
  overflow: hidden;

  h1 {
    color: $blue3;
    height: 62px;
  }

  h2 {
    color: $blue3;
    font-weight: 300;

    a {
      text-decoration: none;
    }
  }

  .title {
    text-decoration: none;
    float: left;

    &:hover {
      h2 {
        color: $blue4;
      }
    }

    h2 {
      display: inline;
      line-height: inherit;
    }

    span {
      float: left;
    }
  }

  p {
    padding-left: 44px;
    float: left;
    clear: both;

    a {
      color: $gray5;
    }
  }

  .article {

    h2 {
      color: $gray5;
    }

    &:hover {
      h2 {
        color: $gray6;
      }
    }
  }

  .form-search {
    float: right;
    margin: 3px 3px 3px 0;
  }
}

.faq-category {
  border: 1px solid $gray3;
  @include border-radius(10px);
  padding: 10px;
  margin-top: 20px;
}

.faq-category-title {
  overflow: hidden;
  padding-bottom: 8px;
  color: $gray5;
  font-weight: 300;

  [class*="icon-"][class*="-before"]::before {
    vertical-align: middle;
  }

  h6 {
    float: left;
    width: 100%;
    text-align: center;
  }
}
