// ==========================================================================
// Estilos do "Sinta-se apoiado!"
// ==========================================================================


// Título.
.feel-supported-title {
  color: $gray4;
  line-height: 32px;

  &[class*="icon-"][class*="-before"]:before { margin-right: 12px; }
}

// Somente no Índice ele é preto.
.feel-supported-title-index { color: $black; }

.feel-supported-title +
.feel-supported-areas { margin-top: 20px; }

.feel-supported-areas { overflow: hidden; }

// Área.
.feel-supported-area {
  float: left;
  width: 349px;
  color: $gray5;

  & +
  & { margin-left: 20px; }

  &[class*="icon-"][class*="-before"]:before {
    float: left;
    margin-right: 10px;
  }

  p { margin-left: 48px + 10px; }
}

// Título da área.
.feel-supported-sub-title { color: $green3; }

.feel-supported-sub-title +
p { margin-top: 9px; }
