.basic-guide-column {
  width: 49%;
  float: left;

  h3 {
    margin-bottom: 20px;
  }
}

.basic-guide-row {
  float: left;
  width: 100%;

  h3 {
    margin-bottom: 20px;
  }
}

.basic-guide-section {
  width: 49%;
  float: left;

  h6 {
    color: $gray5;
    font-weight: 300;
  }
}

.right {
  float: right;
}
