// ==========================================================================
// Estilos do layout
// ==========================================================================


body {
  background-image: url("background.png");
  padding-top: 42px;
}

.container {
  background-image: url("light.png");
  background-position: 120px 0;
  background-repeat: no-repeat;
}
