.help-central-section {

  margin: 15px 30px 30px 30px;
  overflow: hidden;

  h3 {
    font-weight: 300;
    line-height: inherit;
  }

  p {
    margin-top: 3px;
  }

  .article {
    color: $gray5;

    h3, h4, h5, p {
      font-weight: normal;
      color: black;
    }

  }

  li {
    h6 {
      display: inline;
    }
  }

  .title-gray {
    color: $gray5;
    font-weight: 300;
  }

  .guide-subtopic {
    color: $gray5;
    padding-top: 20px;
    font-weight: 300;
  }

}

.help-central-search {

  margin: 20px 30px;

  .form-search {

    margin: 3px 30px;

    input {
      height: 40px;
      font-size: 16px;
    }
  }
}

.help-central-footer {
  margin: 20px 30px 13px 30px;

  button {
    margin: 0 auto;
    display: block;
  }

  .article {
    color: $gray5;
  }
}

.article {

  p {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}


.search-results {

  span {
    text-align: center;
    display: block;
  }

  p {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  .question-list-content span {
    text-align: left;
  }
}

.search-empty {

   color: $gray4;
   margin: 100px 0;

   span {
     margin: 0 auto;
     display: block;
     text-align: center;
   }

   p {
     margin-top: 20px;
     width: 100%;
     text-align: center;
   }
}
