<li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">
  <%= link_to "Índice", help_central_index_path, :class => "breadcrumb-mini-link icon-list-lightblue_16_18-before text-replacement", :title => "Índice" %>
</li>
<li class="breadcrumb-mini-item">
  <%= link_to "Dúvidas Frequentes", help_central_faq_path, :class => "breadcrumb-mini-link icon-frequent-questions-lightblue_16_18-before", :title => "Dúvidas Frequentes" %>
</li>
