<li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">
  <%= link_to "Índice", help_central_index_path, :class => "breadcrumb-mini-link icon-list-lightblue_16_18-before text-replacement", :title => "Índice" %>
</li>
<li class="breadcrumb-mini-item">
  <%= link_to "Guia do Desenvolvedor", help_central_guide_developer_path, :class => "breadcrumb-mini-link icon-app-lightblue_16_18-before", :title => "Guia do Desenvolvedor" %>
</li>
