// ==========================================================================
// Layout styles
// ==========================================================================


body {
  background-image: url("background.png");
}

.main-wrapper > .container {
  background-image: url("light.png");
  background-position: 120px 0;
  background-repeat: no-repeat;
  padding-top: $nav-global-height;
}
