<li class="guides-list-item link-container">
  <div class="guides-list-item-header">
    <span class="guides-list-item-icon icon-<%= guide.icon_name %>-lightblue_32_34-before text-replacement"><%= guide.title %></span>
  </div>
  <div class="guides-list-item-body">
    <h4>
      <%= link_to guide.title, show_root_topic_path(guide), class: "guides-list-item-title link-target" %>
    </h4>
  </div>
  <div class="guides-list-item-footer">
    <p class="legend"><%= guide.body %></p>
  </div>
</li>
