<div class="help-central-header">
  <%= link_to "#", class: "title icon-#{ guide.icon_name }-lightblue_32_34-before" do %>
    <h2 id="hide-title"><%= guide.title %></h2>
  <% end %>

  <%= render partial: "shared/small_search_form" %>
</div>
