<div class="help-central-header">
  <a href="#titulo" class="title icon-<%= guide.icon_name %>-lightblue_32_34-before"><h2 id="title"><%= guide.title %></h2></a>

  <%= render partial: "shared/small_search_form" %>
</div>
