<div class="content-body">
  <%= render partial: "guides/header", locals: { guide: @guide } %>

  <%= render partial: "guides/categories", collection: @children, as: :category %>

  <hr class="list-separator">

  <%= render :partial => "shared/feel_supported", :locals => { :index => false } %>
</div>
